<div class="col-xs-12 col-md-10 col-md-offset-1">
  <br />
  <h1><%= current_lesson.section.title %></h1>
</div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= current_lesson.title %></h1>
	<p>
		<%= current_lesson.subtitle %>
	</p>
  <video id="my-video" class="video-js" controls preload="auto" width="auto" height="auto"
  poster="" data-setup="{}">
    <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>
    <source src="MY_VIDEO.webm" type='video/webm'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
</div>
<br class="clr" />
<div class="col-xs-10 col-xs-offset-1">
  <% if current_lesson.next_lesson.present? %>
    <%= link_to lesson_path(current_lesson.next_lesson), :class => 'btn btn-default pull-right' do %>
      &nbsp; Next Lesson &nbsp;
      <span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
  <% end %>
</div>