<br />
<h1 class="text-center">Learn Something New Today</h1>
<br/>

<% @courses.each do |course| %>
	<div class="booyah-box col-md-8 col-md-offset-2">
		<h3 class="pull-left"><%= link_to course.title, course_path(course) %></h3>
		<h4 class="pull-right"><%= number_to_currency course.cost %></h4>
		<br class="clr">
		<h5>by <%= course.user.email %></h5>
		<br class="clr" />
		<hr>
		<p><%= course.description %></p>
		<%= link_to 'More Details...', course_path(course), :class => 'btn btn-primary pull-right' %>
	</div>
<% end %>